*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.container{
  background-image: url("./pics/modern-brick-wall-3d-rendering_118019-181.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  background-color: darkcyan;
  width: 100%;
  min-height: 100vh;
}
.app-wrapper{
  background-color: white;
  min-width: 350px;
  min-height: 450px;
  box-sizing: border-box;
  border-radius: 1.2rem;
  padding: 20px;
}
.app-header{
  display: flex;
  justify-content: center;
  color: rgb(105, 103, 103);
  margin-bottom: 2rem;
}
form{
  padding: 10px;
margin-top: 2rem;
}
.form-element{
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.form-name{
  font-size: 17px;
  text-transform: capitalize;
  font-weight: 600;
}
form input{
  font-size: 17px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}
.btn-submit{
  display: flex;
  justify-content: center;
}
.btn-submit button{
  background: linear-gradient(to right,#ab1dcf,#f80759);
  width: 120px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: rgba(0,0,0,0.3) 0px 19px 38px,
  rgba(0,0,0,0.22) 0px 15px 12px;
}
.btn-submit button:active{
 transform: translateY(2px);
}
.error{
  color: red;
  font-size: 14px;
}
.filma{
  margin-top: 2rem;
  display: flex;
  justify-content: center;

  font-family: "Montserrat Subrayada";
  text-decoration: none;
  font-weight: 400;
  color:rgba(0,0,0,0.6);

}
