.about-background{
    background: black;
    width: 100%;
    height: 87vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-element{
    width: 95%;
    height: 83vh;
    justify-content: center;
    background-color: rgba(68, 66, 66, 0.3);
}
.about-header{
    color: white;
    text-transform: uppercase;
    font-size: 5rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 5rem;
    letter-spacing: .6rem;
}
.about-below{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}
.about-left{
   color: white;
   width: 50%;
   margin-left: 2rem;

}
.about-left-top{
    text-transform: uppercase;
}
.about-left-top h2{
    font-size: 25px;
}
.about-left-top h2 span{
    font-size: 20px;
}

.about-left-botton {
    margin-left: 2rem;
    width: 70%;
    font-size: 14px;
}


.about-right{
   color: white;
   width: 50%;
   margin-left: 2rem;

}
.about-right-top{
    text-transform: uppercase;
}
.about-right-top h2{
    font-size: 25px;
}
.about-right-top h2 span{
    font-size: 20px;
}

.about-right-botton {
    margin-left: 2rem;
    width: 75%;
    font-size: 14px;
}